.x-list .x-list-item .x-list-item-label { min-height: 3.5em!important; }
.x-list .x-list-item { position: relative !important; border-bottom: 1px solid gray; }
.x-list .x-list-disclosure { position: absolute; bottom: 0.85em; right: 0.44em; }
.notes-list-empty-text { padding:10px; }

.x-item-pressed { background-color:#ccc; }
.list-item-name { float:left; width:100%; font-size:90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right:25px; line-height:150%; }
.list-item-status { float:left; width:95%; color:#666666; font-size:80%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right:25px; }


/* chess board - @see http://designindevelopment.com/css/css3-chess-board/ */
#chess_board { border:5px solid #333; margin: 25px; }
#chess_board {
  color:#000;
  font-size:60px;
  text-decoration:none;
  text-shadow:0 1px #fff;
}
#chess_board td {
  background:#fff;
  background:-moz-linear-gradient(top, #fff, #eee);
  background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
  box-shadow:inset 0 0 0 1px #fff;
  -moz-box-shadow:inset 0 0 0 1px #fff;
  -webkit-box-shadow:inset 0 0 0 1px #fff;
  height:80px;
  text-align:center;
  vertical-align:middle;
  width:80px;
}
#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
  background:#ccc;
  background:-moz-linear-gradient(top, #ccc, #eee);
  background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
  box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}
